* {
  box-sizing: border-box;
}
body {
  background-color: #2A3035;
}
#q4Wrapper {
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
  text-transform: capitalize;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05, 1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

/* Layout section */ 
.layout {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
  background-color: #23272A;
  padding: 20px;
}
/* Begin styling the report items here! */
.reports {
  display: flex;
  flex-flow: wrap;
  margin:0 0 0 -30px;
}

.reports_item {
  width: calc(100%/3 - 30px);
  flex-grow: 0;
  text-align: center;
  margin: 0 0 30px 30px
}

@media (max-width: 768px) {
  .reports_item {
    width: calc(100%/2 - 30px);
  }
}